<!DOCTYPE html>
<html>
  <head>
    <title>Jinx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script>
      window.userImg = `<%= image_url('wizard.png') %>`
      window.bizImg = `<%= image_url('leaky_cauldron') %>`
      window.logoImg = `<%= image_url('jinx_logo.png') %>`
      window.logoCircleImg = `<%= image_url('jinx_logo_circle.png') %>`
      window.reviewImg = `<%= image_url('cauldron.jpg') %>`
      window.splashImg = `<%= image_url('leaky_cauldron.jpg') %>`
    </script>

    <% if logged_in? %>
      <script type="text/javascript">
        window.current_user = 
        <%= render( "api/users/user.json.jbuilder", user: current_user ).html_safe %>
      </script>
    <% end %>
 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
